# Maven & Build output
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Spring Boot Local / Secret configs
application-local.properties
application-dev.properties

# Google API & Security Credentials (Highly Sensitive!)
credentials.json
src/main/resources/credentials.json

# OAuth Token Storage (Highly Sensitive!)
tokens/
tokens/*
*/tokens/*

# Logs
*.log

### OS Files ###
.DS_Store
Thumbs.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/